.chat_container {
  position: fixed;
  width: 95%;
  left: 2.5%;
  height: 87%;
  border: 1px solid gray;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.chat_list_container {
  border: 1px solid gray;
  width: 25%;
  height: 100%;
}
.chat_list_container .chat_list_header {
  border: 1px solid gray;
  height: 60px;
}
.chat_box_container {
  border: 1px solid gray;
  width: 75%;
  height: 100%;
  position: relative;
}
.chat_box_container .chatbox_header {
  border: 1px solid gray;
  height: 60px;
  position: absolute;
  top: 0;
  width: 100%;
}
.chat_box_container .chatbox_body {
  position: absolute;
  top: 60px;
  border: 1px solid blue;
  overflow-y: auto;
  width: 100%;
}
.chat_box_container .chatbox_footer {
  height: 60px;
  position: absolute;
  bottom: 0;
  border: 1px solid green;
  width: 100%;
}