// Imports
@import "breakpoints";

.chat_container {
    position: fixed;
    width: 95%;
    left: 2.5%;
    height: 85%;
    border: 1px solid gray;
    border-radius: 11px;
    margin-top: 15px;
    display: flex;
    flex-wrap: nowrap;
    padding: 5px 6px;
    color: #ffffff;
}

// chat List
.chat_list_container {
    border-right: 1px solid gray;
    width: 25%;
    height: 100%;
    border-radius: inherit;

    .chat_list_header {
        border-bottom: 1px solid gray;
        height: 60px;
        display: flex;
        flex-wrap: nowrap;

        .title {
            font-size: 19px;
            display: flex;
            padding: 5px 6px;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .img_container {
            height: 44px;
            width: 44px;
            margin: auto;
            margin-left: auto;
            margin-right: 7px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                border-right: 1px solid gray;
            }
        }
    }
    .chat_list_body {
        .chatlist_item {
            padding: 2px 8px;
            display: flex;
            flex-wrap: nowrap;
            width: 100%;

            .chatlist_img_container {
                height: 47px;
                width: 47px;
                margin: auto;
                margin-left: auto;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    border-right: 1px solid gray;
                }
            }

            .chatlist_info {
                padding: 2px 5px;
                width: 80%;
                display: block;

                .top_row {
                    display: flex;
                    width: 100%;
                    margin: 3px 0px;

                    .list_username {
                        font-size: 16px;
                        width: 80%;
                    }

                    .date {
                        font-size: 13px;
                        margin-left: auto;
                    }
                }

                .bottom_row {
                    display: flex;
                    flex-wrap: nowrap;
                    width: 100%;

                    .message_body {
                        width: 80%;
                        font-weight: lighter;
                        font-family: 'Roboto';
                    }

                    .unread_count {
                        margin-left: auto;
                        font-size: 13px;
                        background-color: #ffffff;
                        padding: 3px 8px;
                        border-radius: 50%;
                        color: rgb(255, 0, 0);
                        font-weight: lighter;
                    }
                }
            }
        }
    }
}

// Chat Box
.chat_box_container {
    // border: 1px solid gray;
    width: 75%;
    height: 100%;
    position: relative;
    .chatbox_header {
        border-bottom: 1px solid gray;
        height: 60px;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .chatbox_body {
        position: absolute;
        top: 60px;
        border: 1px solid blue;
        overflow-y: auto;
        width: 100%;
    }
    .chatbox_footer {
        height: 60px;
        position: absolute;
        bottom: 0;
        border-top: 1px solid green;
        width: 100%;
    }
}
